{% extends "Layouts/GeneralLayout.html" %}
{% load static %}
{% load bootstrap4 %}

{% block cabeza %}
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}"> <!-- CSS reset -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> <!-- Resource style -->
{% endblock %}
{% block content %}
    {% load bootstrap4 %}

    <title>Cambio de contraseña</title>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <form method="post">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    {% buttons %}
                        <button type="submit">Guardar cambios</button>
                    {% endbuttons %}
                </form>

            </div>
        </div>
    </div>
{% endblock %}