{% extends "Layouts/GeneralLayout.html" %}

{% block content %}
    {% load bootstrap4 %}

    <title>Cambio de contraseña</title>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <form method="post">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    {% buttons %}
                        <button type="submit">Guardar cambios</button>
                    {% endbuttons %}
                </form>

            </div>
        </div>
    </div>

{% endblock %}