
{% extends "Layouts/GeneralLayout.html" %}
{% block cabeza %}
    <title>Iniciar Sesion</title>
{% endblock %}
{% block content %}
    {% load bootstrap4 %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form method="post">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    {% buttons %}
                    <button type="submit" class="btn btn-primary">Iniciar Sesion</button>
                    {% endbuttons %}
                </form>
            </div>
        </div>
    </div>
    <div class="form-row text-center">
    <div class="col-12">
    ¿No tiene una cuenta? <a class="btn btn-outline-info" href="/register/" role="button">Registrese</a>
    </div>
    </div>
{% endblock %}

</body>

</html>