{% extends 'TopBar.html' %}
{% block content %}
    {% load bootstrap4 %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form method="post">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    {% buttons %}
                    <button type="submit" class="btn btn-primary">Registrarse</button>
                    {% endbuttons %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}