{% extends 'Layouts/GeneralLayout.html' %}
{% load static %}
{% load bootstrap4 %}

{% block cabeza %}

    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}"> <!-- CSS reset -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> <!-- Resource style -->
    <title>Registro</title>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form method="post">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    {% buttons %}
                    <button type="submit" class="btn btn-primary">Registrarse</button>
                    {% endbuttons %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}