<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Exito</title>
</head>
<body>
{% extends "TopBar.html" %}
{% block content %}
    <div class="container">
        <div class="jumbotron text-center">
            <h1 class="display-3">¡Éxito!</h1>
            <hr>
            <p>
                ¿Problemas? <a href="">Contactenos</a>
            </p>
            <p class="lead">
                <a class="btn btn-primary btn-sm" href="/home/" role="button">Volver al inicio</a>
            </p>
        </div>
    </div>
{% endblock %}
</body>
</html>