<nav class="navbar navbar-expand-md navbar-dark bg-dark">
   <div class='container'>
      <a class="navbar-brand" href="#">
          <img id="LogoCEI" src="/media/cosas/logoCEI2014.png" onclick=""  width="70" height="70" class="d-inline-block align-top" alt="">
      </a>
      <button class='navbar-toggler' type='button' data-toggle='collapse' data-target='#navbarCollapseLinks' aria-expanded='false' aria-label='Toggle Navigation'>
        <span class='navbar-toggler-icon'></span>
      </button>




      <div class='collapse navbar-collapse' id='navbarCollapseLinks'>
        <ul class='navbar-nav ml-auto'>
          <li class='nav-item'>

              <a href='#' class='nav-link'><img id="Mail" src="/media/cosas/mailIcon.png" onclick="" width="50" height="50"></a>

          </li>
          <li class='nav-item'>
              <div>
                  <a class="" href=""> {{ perfil.nombre }}</a><br/>
                  <p style="margin-bottom: 0px;"> {{ perfil.rut }}</p>
                  <p style="margin-bottom: 0px;"> {{ perfil.correo }}</p>
                  </div>
          </li>



            <li class='nav-item'>
            {% if user.is_authenticated %}
                <a class='nav-link' href="{% url 'logout' %}"> Cerrar sesión</a>
            {% else %}
                <p class="navbar-text">Usted no ha iniciado sesión</p>
            {% endif %}
            </li>



        </ul>


      </div>
  </div>
</nav>
