<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
<style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ddd;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 4px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #888;
}
.right {
    text-align: right;
    float: right;
}

</style>
</head>
<header>

<ul>
  <li><img id="LogoCEI" src="{{STATIC_URL}}images/logoCEI2014.png" onclick="" alt="Mountain View" width="70" height="70"><br></li>
  <div class="right">
  <li><a><img id="Mail" src="{{STATIC_URL}}images/mailIcon.png" onclick="" alt="Mountain View" width="50" height="50"></a></li>
  <li><a href="#Nombre de usuario">Nombre</a></li>
  <li><a href="#foto">Foto</a></li>
  </div>
</ul>

</header>
<body>
    {% block content %}
    {% endblock %}
</body>
</html>

