{% extends "Layouts/GeneralLayout.html" %}
{% load static %}
{% load bootstrap4 %}

{% block cabeza %}

    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}"> <!-- CSS reset -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> <!-- Resource style -->
    <title>{{ articulo.nombre_articulo }}</title>
    <style>
        /*Color del texto en el estado, aparece como no usado, pero se llama al renderizar*/
        .Disponible {
            display: inline-block;
            background:green;
            border-radius: 6px;
            text-align: center;
            color:white;
            float:right;
        }
        .Prestado {
            display: inline-block;
            background:blue;
            border-radius: 6px;
            text-align: center;
            color:white;
            float:right;
    }
    .Reparación {
        display: inline-block;
        background:darkorange;
        border-radius: 6px;
        text-align: center;
        color:white;
        float:right;
    }
    .Perdido{
        display: inline-block;
        background:darkred;
        border-radius: 6px;
        text-align: center;
        color:white;
        float:right;
    }
    /*-------------------*/
    .bodycontainer {max-height: 490px;width: 100%; margin: 0; overflow-y: auto; }
</style>
{% endblock %}

{% block content %}
    <div class="container">
        <form action="/articulos/{{ articulo.id }}/" method="post" enctype="multipart/form-data">{% csrf_token %}
        <div class="row">
            <!-- Left Column -->
            <div class="col-8">
                <h1>
                    <div class="form-group">
                    <input type="text" value="{{ articulo.nombre_articulo }}" name="new_name" class="form-control form-control-lg">
                    </div>
                </h1>
                <br/>
                <br/>
                <!-- Foto -->
                <img style="margin-left: 20px; max-height: 300px;max-width: 500px;" class="img-fluid" src={{ articulo.foto_articulo.url }}/>
                <br/>
                <br/>
                <div class="form-group">
                    <input type="file" class="form-control-file" name="new_foto">
                    <small class="form-text text-muted">Esta foto remplazará la anterior.</small>
                </div>
                <br/>
                <br/>
                <div class="form-group">
                    <input type="text" value="{{ articulo.descripcion_articulo }}" name="new_descr" class="form-control">
                </div>
            </div>

            <!-- Right Column -->
            <div class="col-4">
                <div class="col-4 ml-auto">
                    <button type="submit" class="btn btn-primary" name="guardar">Guardar</button>
                    <input type="hidden" name="ident" value={{ articulo.id }}>
                </div>
                <br/>
                <br/>
                <h3>Historial Reservas</h3>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Inicio</th>
                        <th scope="col">Fin</th>
                    </tr>
                    </thead>
                </table>
                <div class="bodycontainer scrollable">
                    <table class="table table-hover table-striped table-condensed">
                        <tbody>
                        {% for reserva in lista_reservas %}
                            <tr>
                                <td>{{ reserva.inicio }}</td>
                                <td>{{ reserva.final }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        </form>
    </div>
{% endblock %}